*{
    margin: 0;
    padding: 0;
    text-align: center;
}
body{
    background-color: #E1EFF6;
}
h1{
    background-color: #83BCFF;
    height: 10vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 6vmin;
    border-bottom: 3px solid black;
}


.choices-box{
    height: 40vmin;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 2rem;
}

#rock{
    height: clamp(2rem , 20vw , 50rem);
    width:  clamp(2rem , 20vw , 50rem);
    border-radius: 50%;
    background-size: cover;
    background-image: url(/lecture9/rock.png);
    border: 0.3vmin solid transparent;
}
#paper{  
    height:  clamp(2rem , 20vw , 70rem);
    width:  clamp(2rem , 20vw , 70rem);
    border-radius: 50%;
    background-size: cover;
    background-image: url(/lecture9/paper.png);
    border: 0.3vmin solid transparent;
}
#scissor{  
    height:  clamp(2rem , 20vw , 70rem);
    width:  clamp(2rem , 20vw , 70rem);
    background-image: url(/lecture9/scissor.png);
    background-size: cover;
    border-radius: 50%;
    border: 0.3vmin solid transparent;
}

#scissor:hover{
    border: 0.3vmin solid black;
}
#paper:hover{
    border: 0.3vmin solid black;  
}
#rock:hover{
    border: 0.3vmin solid black;  
}

.score-board{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size:clamp(1rem , 2vw , 2rem);
    gap: 5rem;
    margin-top: 3rem;
}
#user-score , #comp-score{
    font-size:clamp(1rem , 2vw , 2rem);
}
.msg-container{
    margin-top: 5rem;
}
#msg{
    font-size:clamp(1rem , 3vw , 3rem);
    height: 5rem;
    background-color: black;
    color: #fff;
    display: inline;
    padding: 1.3rem;
    border-radius: 1rem;
}


